---
import Layout from "../layouts/Layout.astro";
---

<head>
  <title>Rene Mireles</title>
</head>

<Layout>
  <section class="">
    <div class="px-5vw py-10 flex flex-col items-center">
      <div>
        <h3 class="font-title">YO SOY</h3>
        <h1 class="font-title font-bold text-5xl">RENE MIRELES</h1>
      </div>
      <div class="flex gap-4 mb-3">
        <img src="cristal.svg" alt="decoration" class="w-3" />
        <h2 class="font-medium text-lg">Disenador / Ilustrador</h2>
        <img src="cristal.svg" alt="decoration" class="w-3" />
      </div>
      <p class="text-sm text-center opacity-50 mb-10">
        Ayudo a duenos de negocios a mejorar la identidad de sus marcas al crear
        disenos que les ayuden a transmitir su mensaje claramente y de manera
        creativa.
      </p>
      <a
        href="/"
        class="font-title font-bold bg-purple-100 hover:bg-purple-200 transition-colors px-5 py-2 rounded-sm"
      >
        VER PORTAFOLIO
      </a>
    </div>
    <img src="rene-paint.png" alt="Painting of this websites creator" />
  </section>
</Layout>
