<head>
  <link rel="stylesheet" href="https://use.typekit.net/buo7kss.css" />
  <link rel="stylesheet" href="https://use.typekit.net/buo7kss.css" />
</head>
<body class="text-white bg-black">
  <nav class="border-2 border-white p-2 fixed bg-purple-100 w-full">
    <h3>This is the navigation</h3>
  </nav>
  <slot />
</body>
