<head>
  <link rel="shortcut icon" href="logo.png" type="image" />
  <link rel="stylesheet" href="https://use.typekit.net/buo7kss.css" />
  <link rel="stylesheet" href="https://use.typekit.net/buo7kss.css" />
</head>
<body class="text-white bg-black">
  <nav class="px-5vw py-10 bg-black sticky top-0 z-50 w-full">
    <a href="/"><img src="logo.png" alt="Logo" class="w-24" /></a>
  </nav>
  <slot />
  <footer class="p-5 font-bold text-center text-xl opacity-50">
    Diseño por Rene Mireles 2022. Todos los derechos reservados.
  </footer>
</body>
